<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.progmobtugas">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".CrudMatKul.HapusMatkulActivity" />
        <activity android:name=".CrudMatKul.MatkulUpdateActivity" />
        <activity android:name=".CrudMatKul.MatkulGetAllActivity" />
        <activity android:name=".CrudMatKul.MatkulAddActivity" />
        <activity android:name=".CrudMatKul.MainMatkulActivity" />
        <activity android:name=".CrudDosen.DosenUpdateActivity" />
        <activity android:name=".MenuUtamaActivity"/>
        <activity android:name=".CrudDosen.HapusDosenActivity" />
        <activity android:name=".CrudDosen.DosenAddActivity" />
        <activity android:name=".CrudDosen.DosenGetAllActivity" />
        <activity android:name=".CrudDosen.MainDosenActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Pertemuan6.PrefActivity" />
        <activity android:name=".CrudMhs.MahasiswaUpdateActivity" />
        <activity android:name=".CrudMhs.MahasiswaGetAllActivity" />
        <activity android:name=".CrudMhs.MahasiswaAddActivity" />
        <activity android:name=".CrudMhs.HapusMhsActivity" />
        <activity
            android:name=".CrudMhs.MainMhsActivity"
            android:label="Menu CRUD Mahasiswi" />
        <activity android:name=".Model.CardViewTestActivity" />
        <activity android:name=".Model.RecyclerActivity" />
        <activity android:name=".Pertemuan4.DebuggingActivity" />
        <activity android:name=".Pertemuan3.ListActivity" />
        <activity android:name=".ProteinTracker" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".MainActivity" />
    </application>



</manifest>